{% extends './base.html' %}

{% block title %}Match: {{ match.home_team }} VS {{ match.visitor_team }}{% endblock %}

{% block content %}
<h1>Liste des Matchs</h1>
<div class="cards-container">
    {% for match in matches %}
        <a href="{% url 'match_detail' match.id %}" class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ match.home_team.full_name }} VS {{ match.visitor_team.full_name }}
                </div>
                <div class="card-date">
                    {{ match.date }}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
