{% extends './base.html' %}

{% block content %}
<h1>{{ match.home_team.full_name }} VS {{ match.visitor_team.full_name }}</h1>
    <p>Date: {{ match.date }}</p>
    <p>Score de l'équipe à domicile: {{ match.home_team_score }}</p>
    <p>Score de l'équipe visiteuse: {{ match.visitor_team_score }}</p>
    <p>Saison: {{ match.season }}</p>
    <p>Période: {{ match.period }}</p>
    <p>Status: {{ match.status }}</p>
    <p>Post-saison: {{ match.postseason }}</p>
    <h2>Équipe à domicile</h2>
    {% include 'team_card.html' with team=match.home_team %}
    
    <h2>Équipe visiteuse</h2>
    {% include 'team_card.html' with team=match.visitor_team %}
    
{% endblock %}
