{% extends './base.html' %}

{% block content %}

<h1 class="match-title">{{ match.home_team.full_name }} VS {{ match.visitor_team.full_name }}</h1>

<div class="match-details">
    <h2>Informations sur le match</h2>
    <p><strong>Date :</strong> {{ match.date }}</p>
    <p><strong>Score de l'équipe à domicile :</strong> {{ match.home_team_score }}</p>
    <p><strong>Score de l'équipe visiteuse :</strong> {{ match.visitor_team_score }}</p>
    <p><strong>Saison :</strong> {{ match.season }}</p>
    <p><strong>Période :</strong> {{ match.period }}</p>
    <p><strong>Status :</strong> {{ match.status }}</p>
    <p><strong>Post-saison :</strong> {{ match.postseason }}</p>
</div>

<h2 class="team-title">Équipe à domicile</h2>
{% include 'team_card.html' with team=match.home_team %}

<h2 class="team-title">Équipe visiteuse</h2>
{% include 'team_card.html' with team=match.visitor_team %}

{% endblock %}
